/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 févr. 2016, 23:10:32
    Author     : Sozza Marc <marc.sozza at gmail.com>
*/

/* Partie 1: body
 * Partie 2: personnalisation du menu de navigation pour l'utilisateur
 * Partie 3: personnalisation du menu de navigation pour l'administrateur
 * Partie 4: personnalisation éléments de la fiche de vin
 * Partie 5: personnalisation du pop-up de la fiche de vin
 */

/* Partie 1 */

body{
    font-family: Open Sans;
}




/* Partie 2 */

.navbarStyle{
    background-color: #001e3a;
    border-color: #001e3a;
    border-radius: 0px;
    margin-bottom: 0px;
    font-weight: bolder;
}

.elementStyle{
    padding-top: 20px;
    
}

.boiteLien{
    padding-right:150px;
}

.navbarStyle .lienStyle>li>a{
    color: white;
}

.navbarStyle .lienStyle>li>a:hover, .navbarStyle .lienStyle>li>a:focus, .navbarStyle .lienStyle>li>a:visited{
    color: #14b9d6;
}

.navbarStyle .boiteLien{
    border-color:#001e3a;
}

.dropdownStyle{
    padding-bottom:15px !important;
    
}

.dropdown-menu{
   width:300px; 
   background-color:white;
}

.navbar-nav .open .dropdown-menu{
    background-color:white;
}


.trait{
    border-top : 1px dotted #90b5bc;
    width : 100%;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
    background-color: #001e3a;
    color:#14b9d6;
}

/* animation du burger menu*/
.navbar-toggle #barreTop, #burgerMenu #barreTop {
	 top:0;
}
.navbar-toggle #barreMiddle, #burgerMenu #barreMiddle {
	 top:0;
}

.navbar-toggle #barreBottom, #burgerMenu #barreBottom {
  	top:0;
}

.navbar-toggle .icon-bar, #burgerMenu .icon-bar  {
	  position: relative !important;
	  transition: all 500ms ease-out;
}
.navbar-toggle.active #barreBottom, #burgerMenu.active #barreBottom {
	  top: -6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active #barreMiddle, #burgerMenu.active #barreMiddle {
	  background-color: transparent;
}

.navbar-toggle.active #barreTop, #burgerMenu.active #barreTop {
	  top: 6px;
	  transform: rotate(-45deg);
          
}

#info{
    display:none;
}

/*Partie 3*/

.navbarAdminStyle
{
    height:70px;
    border-bottom-color:#007fff;
    border-right-color:#007fff;
    border-top:0px;
}

.navbarHeaderAdmin
{
    width:100%;
    height:100%;
}

.buttonMenu
{
    border-right:5px solid #2c5dbd;
    background-color:#007fff;
    height:100%;
}

.navbar-default .navbar-header> a:hover, .navbar-default .navbar-header> a:visited, .navbar-default .navbar-header> a:focus
{
    background-color:#007fff;
}

.menuText
{
    color:white;
    font-size:23px;
    margin-right:10px;
}

.glyphicon-menu-hamburger, .glyphicon-remove
{
    font-size:17px;
    color:white;
    margin-top:10px;
}

#fermer{
    display:none;
}

#ouvrir{
    display:inline-block;
}

#main{
  height:100%;
}

.menuAdmin{
    transform: translate(-3000px,0);
    height:100%;
    width:250px;
    background-color:#007fff;
    display:block;
    position:fixed;
    z-index: 1;   
    overflow-y: auto;
    color:white;
}

.sousmenuAdmin{
    height:100%;
    overflow-y: auto;
}

.moveToLeft{
    transform: translate(250px,0);  
    position:fixed;
    overflow:hidden;
    height:100%;
    width:100%;
}

.nav-pills>li>a{
    color:white;
    font-weight: lighter;
}

.nav-pills>li>a:hover{
    color:#007fff;
    font-weight: lighter;
}

#titreMenu{
    margin-top:25px;
    padding-bottom:24px;
    border-bottom:1px solid white;
}

.titreSousMenu{
    margin-top:25px;
    padding-top:24px;
    padding-bottom:24px;
    border-top:1px solid white;
    border-bottom:1px solid white;
}

.deconnexion{
    color:white;
}

/* Partie 4*/
/*personnalisation bouton édition*/

button[id*=btnModifFiche]{
    border:1px dashed white;
    position: absolute;
    background-color:transparent;
    border-radius:white;
    color:white;
    margin:10px;
    margin-top:50px;
}

button[id*=btnDeleteFiche]{
    border:1px dashed white;
    position: absolute;
    background-color:transparent;
    border-radius:white;
    color:white;
    margin:10px;
    margin-top:90px;
}

button[id*=btnZoomFiche]{
    border:1px dashed white;
    position: absolute;
    background-color:transparent;
    border-radius:white;
    color:white;
    margin:10px;
    
}

/*alignement des boutons à l'horizontal sur les petits écrans*/
@media screen and (max-width: 320px) {
    button[id*=btnDeleteFiche]{
        margin:10px;
        margin-left:110px;
    }

    button[id*=btnModifFiche]{
        margin:10px;
        margin-left:60px;
    }
}

/*personnalisation bouton parcourir*/
#fileupload {
position: absolute;
top: 0;
right: 0;
margin: 0;
opacity: 0;
-ms-filter: 'alpha(opacity=0)';
font-size: 200px;
direction: ltr;
cursor: pointer;
}
 
.fileinput-button {
position: relative;
overflow: hidden;
}

/* espace champs edition d'une fiche'*/
form[class*=formEdition]{
    margin-left:10px;
    margin-right:10px;
}

span[class*=btnEditionImage]{
    margin-top:10px;
}

/*Partie 5:*/
.modalMarginLeft
{
    margin-left:20px;
}

.imgModal
{
    margin-right:30px;
}

@media screen and (max-width: 991px) {
    .imgModal
    {
        margin-right:00px;
    }
}